  <% var pathPrefix = "";
     for (var i = 0; i < current.path.length-1; i++) {
        pathPrefix += "../";
     };
  %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="<%- pathPrefix %>assets/css/main.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="NOODP">
    <meta name="google" content="nositelinkssearchbox">
  </head>

    <body>
    <div class="master-wrapper">
      <main id="content-wrapper">
        <div class="outer-wrapper">
            <a href="https://vpinyokool.github.io/boards-2020/index.html" class="index-link">Index</a>
          <%- yield %>
        </div>
      </main>
    </div>
  </body>
  <script type="text/javascript" src="<%- pathPrefix %>assets/js/dist/all.js"></script>
</html>