*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  color: $black;
  outline: 0;
}

body {
  @include font-smoothing();
  font-family: $font-text;
  font-weight: 400;
  font-size: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white;

  &._overlay-is-on {
    overflow-y: hidden;
  }
  @include lego-mode {
    background-color: $black;
  }
}




// pace

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $primary;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.bubbles {
  padding-top: 104px;
  font-size: 0;
  li {
    display: inline-block;
    // background-color: teal;
    vertical-align: top;
    margin-right: 4px;
  }
  .caption {
    font-size: 12px;
    color: $darkest;
    text-align: center;
    margin-top: 4px;
  }
  li.create {

    .icon-plus {
      position: absolute;
      z-index: 100;
      width: 24px;
      height: 24px;
      right: 10px;
      bottom: 10px;
      background-color: $white;
      border-radius: 100%;
      background-image: url('../icons/icon-add.svg');
      background-repeat: no-repeat;
      background-size: 10px;
      background-position: center;
      box-shadow: 0 0 8px rgba($darkest, .15);
    }
.avatar-wrap {
position: relative;
  padding: 12px;
  overflow: hidden;
  img {
      border-radius: 100%;
    width: 70px;
    height: 70px;
    position: relative;

  }
}
  }
  li.discover {
    &:hover {
      cursor: pointer;
    }
    img {
      width: 96px;
      height: auto;
      margin-top: 8px;
    }
    .caption {
      margin-top: 13px;
    }
  }
}

.nav-items {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
  left: 50%;
  margin-left: -164px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  box-shadow: 0 0 8px rgba($black, .1);
  width: 328px;
  border-radius: 80px;
  background-color: white;
  position: absolute;
  bottom: 34px;
  z-index: 10;
  transition: bottom 450ms $ease-out-back;
  ._stream-is-on & {
    bottom: -100px;
  }
  .nav-list {
    opacity: .57;
&:hover,
&._active {
  cursor: pointer;
  opacity: 1;
}
    &.profile {
          border-radius: 100%;
    overflow: hidden;
    font-size: 0;
    opacity: 1;
    }
  }
  img {
    width: 24px;
    height: auto;
  }

}