<main>
	<div class="proto-container">
		<div class="proto-section">
			<div class="proto-title">krizzly7</div>
			<div class="link-wrap">
				<a href="/p-krizzly7/tag-a">a</a>
				<a href="/p-krizzly7/tag-b">b</a>
			</div>
		</div>
		<hr>
		<div class="proto-section">

			<div class="proto-title">marialat530</div>
			<div class="link-wrap">
				<a href="/p-marialat530/tag-a">a</a>
				<a href="/p-marialat530/tag-b">b</a>
			</div>
		</div>
		<hr>
		<div class="proto-section">
			<div class="proto-title">moominmom3</div>
			<div class="link-wrap">
				<a href="/p-moominmom3/tag-a">a</a>
				<a href="/p-moominmom3/tag-b">b</a>
			</div>
		</div>
		<hr>
		<div class="proto-section">
			<div class="proto-title">thenifyshopper</div>
			<div class="link-wrap">
				<a href="/p-thenifyshopper/tag-a">a</a>
				<a href="/p-thenifyshopper/tag-b">b</a>
			</div>
		</div>
		<hr>
		<div class="proto-section">
			<div class="proto-title">shavon</div>
			<div class="link-wrap">
				<a href="/p-shavon/tag-a">a</a>
				<a href="/p-shavon/tag-b">b</a>
			</div>
		</div>
		<hr>
		<div class="proto-section">
			<div class="proto-title">Misc.</div>
			<div class="link-wrap">
				<a href="/tag-one">1</a>
				<a href="/tag-two">2</a>
				<a href="/tag-three">3</a>
				<a href="/tag-four">4</a>
			</div>
		</div>
	</div>
</main>