<%
var pinnerData = public.content.pinner._data.pinner;
%>


<div class="grid-container">
<div class="pinner-wrapper">
<% for ( var i=0; i < pinnerData.length; i++ ) { %>
<section class="pinner">
	<a href="<%= pinnerData[i].username %>">
		<div class="avatar">
			<img src="assets/images/pinner/<%= pinnerData[i].src %>.png" alt="">
		</div>
		<div class="name">
			<%= pinnerData[i].name %>
		</div>
		<div class="username">
			<%= pinnerData[i].username %>
		</div>
	</a>
</section>
<% } %>
</div>
</div>