<section class="canvas">
	<div class="phone-canvas">
		<div class="home-indicator-wrap">
			<img src="/assets/images/home-indicator.svg" alt="">
		</div>

<div class="status-bar-wrap">
	<img class="dark" src="/assets/images/status-bar-dark.svg" alt="">
	<img class="light" src="/assets/images/status-bar-light.svg" alt="">
</div>
<div class="icon-button back"></div>
<div class="closeup scroll-area">
	<div class="closeup-module"></div>
	<div class="closeup-module"></div>
	<div class="closeup-module"></div>
	<div class="closeup-module"></div>
	<div class="closeup-module"></div>
</div>
<div class="pingrid scroll-area">

<div class="navigation-bar">
	<div class="icon-button overflow"></div>
</div>
<div class="board-header">
	<div class="board-title">
		Our new home
	</div>
	<div class="avatars">
		<div class="you"></div>
		<div class="add"></div>
	</div>
</div>
<div class="board-toolbar">
	<div class="tool more-ideas">
		<div class="icon"></div>
		<div class="text">More ideas</div>
	</div>
	<div class="tool organize">
		<div class="icon"></div>
		<div class="text">Organize</div>
	</div>
	<div class="tool notes">
		<div class="icon"></div>
		<div class="text">Notes</div>
	</div>
	</div>
	<div class="filter-bar">
		<div class="pin-count">86 Pins</div>
		<div class="icon-button filter"></div>
	</div>

	<%- partial('library/_modules/_grid') %>
	</div>
</div>
	</div>
</div>
</section>