<div class="proto-nav">
	<a class="_active" href="tag-one.html">1</a>
	<a href="tag-two.html">2</a>
	<a href="tag-three.html">3</a>
	<a href="tag-four.html">4</a>
</div>
<section class="canvas tags-one">
	<div class="phone-canvas">
		<div class="home-indicator-wrap">
			<img src="assets/images/home-indicator.png" alt="">
		</div>

<div class="status-bar-wrap">
	<img class="dark" src="assets/images/status-bar-dark.png" alt="">
	<img class="light" src="assets/images/status-bar-light.png" alt="">
</div>
<div class="icon-button back"></div>
<div class="overlay"></div>
<div class="filter-sheet">
	<div class="filter-sheet-subhead">
		Filter options
	</div>
	<ul>
		<li class="show-all-pins _active">
			Show all Pins
		</li>
		<li class="show-stars-only">
			Show Pins with ★
		</li>
	</ul>
	<div class="button secondary close-sheet">Close</div>
</div>
<div class="closeup scroll-area">
	<%- partial('library/_modules/_closeup-card') %>
	<div class="closeup-module">
		<div class="cu-title">Comments</div>
		<div class="comments-caption">
			Love this Pin? Add a comment!
		</div>
		<div class="composer-wrap">
			<div class="comment-avatar"></div>
			<div class="comments-input">Add comment or photo</div>
		</div>

	</div>
	<div class="closeup-module">
		<div class="cu-title">More like this</div>
		<%- partial('library/_modules/_more-like-this-grid') %>
	</div>
</div>
<div class="pingrid scroll-area">

<div class="navigation-bar">
	<div class="icon-button overflow"></div>
</div>
<div class="board-header">
	<div class="board-title">
		Our new home
	</div>
	<div class="avatars">
		<div class="you"></div>
		<div class="add"></div>
	</div>
</div>
<div class="board-toolbar">
	<div class="tool more-ideas">
		<div class="icon"></div>
		<div class="text">More ideas</div>
	</div>
	<div class="tool organize">
		<div class="icon"></div>
		<div class="text">Organize</div>
	</div>
	<div class="tool notes">
		<div class="icon"></div>
		<div class="text">Notes</div>
	</div>
	</div>
	<div class="filter-bar">
		<div class="pin-count"><span class="num">15 </span>Pins<span class="pin-type _hidden"> with ★ </span></div>
		<div class="button-sml show-sheet">Filter</div>

	</div>
<%- partial("library/_modules/_grid",{mode:"demo"}) %>

	<div class="empty-state _hidden">
		You don't have any star Pins yet.<br>Tap ★ to mark your favorite ideas.
	</div>
	</div>
</div>
	</div>
</div>
</section>