<header>
	<section class="more-flyout">
		<div class="flyout-lead">
	Board options
	</div>
	<div class="flyout-row edit-board">
		Edit
	</div>
	<div class="flyout-row">
		Share
	</div>
	<div class="flyout-row">
		Merge
	</div>
	<div class="flyout-row">
		Archive
	</div>
	<div class="flyout-lead">
	Set view as
	</div>
	<div class="flyout-row _active">
		Default
	</div>
	<div class="flyout-row">
		Compact
	</div>

</section>
<div class="board-title">
	<span>Need to visit soon</span><span class="more-trigger"></span>
</div>

<div class="board-avatar">
	<ul class="avatar-list">
		<li class="you"></li>
		<li class="plus"></li>
	</ul>
</div>
<div class="board-description">
	To visit after this COVID-19 insanity
</div>
</header>