<%
	var boardsData = public.content.boards._data.all;
	var pinnerData = public.content.pinner._data.pinner;


for ( var a=0; a < pinnerData.length; a++ ) {
	if ( current.source == pinnerData[a].username) {
		boardsData = pinnerData[a].boards;
	}
}

%>


<div class="board-picker-sheet">
	<div class="sheet-header">
		<div class="sheet-title"></div>
		<div class="icon-button blank"></div>
		<div id="skip" class="button-sml">Skip</div>
	</div>
	<div class="saved-pin-wrapper"></div>
	<div class="saved-title">
		<span>
			Saved!
		</span>
		Move to a board?
	</div>
	<ul class="board-lists">
		<% for ( var j=0; j < boardsData.length; j++ ) { %>
		<li data-dest="<%= boardsData[j].src %>" data-toast="<%= boardsData[j].src %>" class="board-list profile">
			<div class="board-list-img">
				<img src="<%= boardsData[j].img %>" alt="">
			</div>
			<div class="board-title"><%= boardsData[j].src %></div>
		</li>
		<% } %>
	</ul>
</div>