<section class="board-tools">
	<ul class="tools-lists">
		<!-- <li class="tool add">
			<div class="tool-icon"></div>
			<div class="tool-caption">Add</div>
		</li> -->
		<li class="tool shop">
			<div class="tool-icon"></div>
			<div class="tool-caption">Shop</div>
		</li>
		<li class="tool ideas">
			<div class="tool-icon"></div>
			<div class="tool-caption">More ideas</div>
		</li>
		<li class="tool organize">
			<div class="tool-icon"></div>
			<div class="tool-caption">Organize</div>
		</li>
	</ul>
</section>

<section class="tools-dock">
	<div class="inner-dock">
		<ul class="tools-lists">
		<li class="tool add">
			<div class="tool-icon"></div>
		</li>
		<li class="tool ideas">
			<div class="tool-icon"></div>
		</li>
		<li class="tool shop">
			<div class="tool-icon"></div>
		</li>
		<li class="tool organize">
			<div class="tool-icon"></div>
		</li>
	</ul>
	</div>
</section>