<%
var topChoiceData = public.content.boards._data.topChoice;
var allBoardsData = public.content.boards._data.all;
%>
<div class="board-picker-sheet">
	<div class="sheet-header">
		<div class="sheet-title"></div>
		<div class="icon-button blank"></div>
		<div id="skip" class="button-sml">Skip</div>
	</div>
	<div class="saved-pin-wrapper"></div>
	<div class="saved-title">
		<span>
			Saved!
		</span>
		Move to a board?
	</div>
	<ul class="board-lists">
		<% for ( var j=0; j < allBoardsData.length; j++ ) { %>
		<li data-dest="<%= allBoardsData[j].src %>" data-toast="<%= allBoardsData[j].title %>" class="board-list profile">
			<div class="board-list-img">
				<img src="assets/images/boards-cover/<%= allBoardsData[j].img %>" alt="">
			</div>
			<div class="board-title"><%= allBoardsData[j].title %></div>
		</li>
		<% } %>
	</ul>
</div>