<ul class="bubbles">
	<li class="create">
		<div class="avatar-wrap">
			<div class="icon-plus"></div>
			<img src="assets/images/a-4.png" alt="">
		</div>
		<div class="img-wrap"></div>
		<div class="caption">Create</div>
	</li>
	<li class="discover">
		<div class="image-wrap">
			<img src="assets/images/creator.png" alt="">
		</div>
		<div class="caption">Creators</div>
	</li>
</ul>