<%
	var name;
	var src;
	var pinnerData = public.content.pinner._data.pinner;
	if ( current.source == pinnerData[0].username) {
		name = pinnerData[0].name
		src = pinnerData[0].src
	}

	if ( current.source == pinnerData[1].username) {
		name = pinnerData[1].name
		src = pinnerData[1].src
	}

	if ( current.source == pinnerData[2].username) {
		name = pinnerData[2].name
		src = pinnerData[2].src
	}

	if ( current.source == pinnerData[3].username) {
		name = pinnerData[3].name
		src = pinnerData[3].src
	}

	if ( current.source == pinnerData[4].username) {
		name = pinnerData[4].name
		src = pinnerData[4].src
	}

	if ( current.source == pinnerData[5].username) {
		name = pinnerData[5].name
		src = pinnerData[5].src
	}

	if ( current.source == pinnerData[6].username) {
		name = pinnerData[6].name
		src = pinnerData[6].src
	}

	if ( current.source == pinnerData[7].username) {
		name = pinnerData[7].name
		src = pinnerData[7].src
	}

	if ( current.source == pinnerData[8].username) {
		name = pinnerData[8].name
		src = pinnerData[8].src
	}

	if ( current.source == pinnerData[9].username) {
		name = pinnerData[9].name
		src = pinnerData[9].src
	}

%>

<ul class="bubbles">
	<li class="create">
		<div class="avatar-wrap">
			<div class="icon-plus"></div>
			<img src="assets/images/pinner/<%= src %>.png" alt="">
		</div>
		<div class="img-wrap"></div>
		<div class="caption">Create</div>
	</li>
	<li class="discover">
		<div class="image-wrap">
			<img src="assets/images/creator.png" alt="">
		</div>
		<div class="caption">Discover</div>
	</li>
</ul>