<%
	var name;
	var src;
	var pinnerData = public.content.pinner._data.pinner;


for ( var a=0; a < pinnerData.length; a++ ) {
	if ( current.source == pinnerData[a].username) {
		name = pinnerData[a].name
		src = pinnerData[a].src
	}
}

%>

<div class="closeup-module">
	<div class="cu-title">Comments</div>
	<div class="comments-caption">
		Love this Pin? Add a comment!
	</div>
	<div class="composer-wrap">
		<div class="composer-leading">
		<div class="comment-avatar">
			<img src="assets/images/pinner/<%= src %>.png" alt="">
		</div>
		<div class="comments-input">Add comment or photo</div>
		</div>
		<div class="comment-img-icon"></div>
	</div>
</div>
<div class="closeup-module">
	<div class="cu-title">More like this</div>
	<%- partial('_more-like-this-grid') %>
</div>