<div class="closeup-module">
	<div class="cu-title">Comments</div>
	<div class="comments-caption">
		Love this Pin? Add a comment!
	</div>
	<div class="composer-wrap">
		<div class="comment-avatar"></div>
		<div class="comments-input">Add comment or photo</div>
	</div>
</div>
<div class="closeup-module">
	<div class="cu-title">More like this</div>
	<%- partial('_more-like-this-grid') %>
</div>