<% if(mode == "morning") { %>
	<div class="outer-row">
		<div class="inner-row">
			<section class="getting-there">
			<div class="eyebrow centered">
				Getting there
			</div>
			<p class="centered">
				Located in the center of Bangkok, the ceremony is conveniently reached by car, taxi, Tuk tuk, and the BTS Sky Train.
			</p>
			<img src="/assets/images/morning/getting-there.png" alt="">
			</section>
			<section class="parking-lot">
			<div class="eyebrow centered">
				Parking Lot
			</div>
			<p class="centered">
				If you prefer to drive — Jim Thompson provide a parking lot with 40 spots next to their estate. First come first serve.
			</p>
			<hr class="short">
			<p class="centered">
				4 minutes walk from parking lot to the ceremony.
			</p>
			<div class="two-up-wrap">
				<img src="/assets/images/morning/parking-lot-1.png" alt="">
				<img src="/assets/images/morning/parking-lot-2.png" alt="">
			</div>
			</section>
			<section class="attire">
			<div class="eyebrow centered">
				attire
			</div>
			<p class="centered">
				Traditional silk round-neck shirt or shirt with slacks for men. Traditional silk dress or modest dress for women.
			</p>
			<hr class="short">
			<p class="centered">
				Avoid  t-shirts, bare shoulders, shorts or flip-flops, sneakers and black color.
			</p>
			</section>
		</div>
	</div>
<% } %>