<%
	var name;
	var src;
	var pinnerData = public.content.pinner._data.pinner;


for ( var a=0; a < pinnerData.length; a++ ) {
	if ( current.source == pinnerData[a].username) {
		name = pinnerData[a].name
		src = pinnerData[a].src
	}
}

%>

		<div class="floating-nav">
			<ul class="nav-items">
				<li class="nav-list home _active">
					<img src="assets/icons/icon-home.svg" alt="">
				</li>
				<li class="nav-list search">
					<img src="assets/icons/icon-search.svg" alt="">
				</li>
				<li class="nav-list add">
					<img src="assets/icons/icon-add.svg" alt="">
				</li>
				<li class="nav-list notif">
					<img src="assets/icons/icon-notif.svg" alt="">
				</li>
				<li class="nav-list profile">
					<img src="assets/images/pinner/<%= src %>.png" alt="">
				</li>
			</ul>
		</div>