<%
var homefeedData = public.content.homefeed._data.pins;
// var homefeedData = public.content.homefeed._data.ugly;
// var homefeedData = public.content.homefeed._data.real;
%>
<div class="masonry-layout ">
	<% for ( var i=0; i < homefeedData.length; i++ ) { %>


		<div data-closeup-id="<%= i+1 %>" class="item pin-grid">
			<div class="pin-img-wrapper">

				<div class="star star-<%= i+1 %>">
					<div class="icon-wrap"></div>
				</div>
				<img src="/assets/images/<%= homefeedData[i].img %>.png" />
			</div>
			<div class="pin-title">
				<%= homefeedData[i].title %>
			</div>
		</div>

	<% } %>
</div>