<%
var homefeedData = public.content.homefeed._data.pins;
// var homefeedData = public.content.homefeed._data.ugly;
// var homefeedData = public.content.homefeed._data.real;
%>
<div class="masonry-layout ">
	<% for ( var i=0; i < homefeedData.length; i++ ) { %>


		<div data-closeup-id="<%= i+1 %>" class="item pin-grid pin-id-<%= i+1 %>">
			<div class="pin-img-wrapper">
				<img src="<%= homefeedData[i].img %>" />
			</div>
			<div class="pin-title">
				<span class="reaction-marker wanna-try _hidden"><span>Wanna try</span> 路 </span>
				<span class="reaction-marker tried-it _hidden"><span>Tried it</span> 路 </span>
				<span class="reaction-marker love-it _hidden"><span>Love it</span> 路 </span>
				<span class="reaction-marker maybe _hidden"><span>Maybe</span> 路 </span>
				<%= homefeedData[i].title %>
			</div>
		</div>

	<% } %>
</div>