<%
var pinnerData = public.content.pinner._data.pinner;
var ideaPinData = public.content.ideapin._data.pins;
var uopData = public.content.homefeed._data.foodPins;
var homefeedData;
var boardsData;

for ( var a=0; a < pinnerData.length; a++ ) {
	if ( current.source == pinnerData[a].username) {
		homefeedData = pinnerData[a].hf;
	}
}
%>


<div class="masonry-layout ">
	<% for ( var i=0; i < homefeedData.length; i++ ) { %>


		<div data-closeup-id="<%= i+1 %>" class="item disco-pin pin-grid pin-id-<%= i+1 %>">
			<div class="pin-img-wrapper">

				<img src="<%= homefeedData[i].img %>" />
			</div>
			<div class="pin-title-wrapper">
				<div class="pin-title">
					<% if ( homefeedData[i].title ) { %>
						<%= homefeedData[i].title %>
					<% } else { %>
						<br>
					<% } %>
				</div>
			</div>
		</div>

	<% } %>
</div>
