<%
var homefeedData = public.content.homefeed._data.pins;
// var homefeedData = public.content.homefeed._data.ugly;
// var homefeedData = public.content.homefeed._data.real;
%>
<div class="masonry-layout ">
	<% for ( var i=0; i < homefeedData.length; i++ ) { %>


		<div class="item pin-grid <% if (homefeedData[i].img == '2') { %>
	}
<% } %>">
			<div class="pin-img-wrapper">
				<img src="/assets/images/<%= homefeedData[i].img %>.png" />
			</div>
			<div class="pin-title">
				<%= homefeedData[i].title %>
			</div>
		</div>


	<% } %>
</div>