<%
var pinnerData = public.content.pinner._data.pinner;
var ideaPinData = public.content.ideapin._data.pins;
var uopData = public.content.homefeed._data.foodPins;
var homefeedData;
var boardsData;


	if ( current.source == pinnerData[0].username) {
		homefeedData = pinnerData[0].hf;
	}

	if ( current.source == pinnerData[1].username) {
		homefeedData = pinnerData[1].hf;
	}

	if ( current.source == pinnerData[2].username) {
		homefeedData = pinnerData[2].hf;
	}

	if ( current.source == pinnerData[3].username) {
		homefeedData = pinnerData[3].hf;
	}

	if ( current.source == pinnerData[4].username) {
		homefeedData = pinnerData[4].hf;
	}

	if ( current.source == pinnerData[5].username) {
		homefeedData = pinnerData[5].hf;
	}

	if ( current.source == pinnerData[6].username) {
		homefeedData = pinnerData[6].hf;
	}

	if ( current.source == pinnerData[7].username) {
		homefeedData = pinnerData[7].hf;
	}

	if ( current.source == pinnerData[8].username) {
		homefeedData = pinnerData[8].hf;
	}

	if ( current.source == pinnerData[9].username) {
		homefeedData = pinnerData[9].hf;
	}
%>


<div class="masonry-layout ">
	<% for ( var i=0; i < homefeedData.length; i++ ) { %>


		<div data-closeup-id="<%= i+1 %>" class="item disco-pin pin-grid pin-id-<%= i+1 %>">
			<div class="pin-img-wrapper">

				<img src="<%= homefeedData[i].img %>" />
			</div>
			<div class="pin-title-wrapper">
				<div class="pin-title">
					<% if ( homefeedData[i].title ) { %>
						<%= homefeedData[i].title %>
					<% } else { %>
						<br>
					<% } %>
				</div>
			</div>
		</div>

	<% } %>
</div>
