<%
var homefeedData = public.content.homefeed._data.pins;
%>


<div class="masonry-layout ">

	<% for ( var i=0; i < homefeedData.length; i++ ) { %>
	<div class="masonry-layout__panel__wrap">
		<div class="masonry-layout__panel">
			<div class="masonry-layout__panel-content">
				<div class="gif-badge">GIF</div>
				<div><img src="/assets/images/<%= i+1 %>.png" />
				</div>

				<div class="meta-container">
					<div class="title-container">
						<%- homefeedData[i].title %>
					</div>



				</div>
			</div>
		</div>
		</div>
	<% } %>
</div>