
<% if(mode == "morning") { %>
	<div class="outer-row header morning">
		<div class="inner-row">
			<h1><span class="morning">The morning</span><br>Ceremony</h1>
			<img src="/assets/images/morning/jt.png" alt="">
			<p>
				As in many traditions, the bride’s hand in marriage must be formally given by her father. With a Thai wedding, the groom chooses one of his close friends to officially do the asking.
			</p>
			<p>
				This jungly compound is the former home of the eponymous American silk entrepreneur and art collector. Born in Delaware in 1906, Thompson briefly served in the Office of Strategic Services (the forerunner of the CIA) in Thailand during WWII. He settled in Bangkok after the war, when his neighbours’ handmade silk caught his eye and piqued his business sense; he sent samples to fashion houses in Milan, London and Paris, gradually building a steady worldwide clientele.
			</p>
		</div>
	</div>
<% } %>

<% if(mode == "night") { %>
	<div class="outer-row header night">
		<div class="inner-row">
			<h1><span>Dinner time</span><br>Reception</h1>
			<p>
				For those that know us you probaby know we kept our evening reception a secret. Rest assure that will definitely be music and good cocktails.
			</p>
		</div>
	</div>
<% } %>
