
	<!-- hero start -->
	<img class="hero-img" src="/assets/images/morning/hero.svg" alt="">
	<!-- hero end -->
	<!-- intro start -->
	<div class="outer-row">
		<div class="inner-row">
			<p>
				Dear friends —
			</p>
			<p>
				Great to have you here. you’ve been invited becuase you’ve made a mark in our lives and are parts of what make us who we are today. We’ve decided to invite you to join us on our special day in Bangkok Thailand.
			</p>
			<p>
				Ceremony and reception will happen in the same day. Morning and night — you’re inivted to both.
			</p>
			<p>
				All our love,<br>
				W + Q
			</p>
		</div>
	</div>
<!-- intro end -->