<%
var homefeedData = public.content.homefeed._data.pins;
// var homefeedData = public.content.homefeed._data.ugly;
// var homefeedData = public.content.homefeed._data.real;
%>

<div class="more-like-this-grid">
	<% for ( var i=0; i < homefeedData.length; i++ ) { %>
	<div class="disco-pin">
			<div class="pin-img-wrapper">
				<img src="/assets/images/<%= homefeedData[i].img %>.png" />
			</div>
			<div class="pin-title more-like-this">
				<%= homefeedData[i].title %>
			</div>
	</div>
	<% } %>
</div>