<nav>
	<div class="logo-wrap"><div class="logo-asset"></div>
	</div>
	<ul class="nav-list">
		<li class="text _active">
			Home
		</li>
		<li class="text">
			Today
		</li>
		<li class="text">
			Following
		</li>
	<li class="search-bar">Search for wedding venues</li>
		<li class="img-icon">
			<img src="/assets/icons/bell.svg" alt="">
		</li>
		<li class="img-icon">
			<img src="/assets/icons/messages.svg" alt="">
		</li>
		<li class="img avatar">
		<img src="/assets/images/avatar.png" alt="">
		</li>
		<li class="img">
		<img src="/assets/icons/down-chev.svg" alt="">
		</li>
	</ul>
</nav>