<nav>
	<div class="logo-wrap">
		<img src="/assets/icons/pinterest.svg" alt="">
	</div>
	<div class="search-bar"></div>
	<ul class="nav-list">
		<li>
			Home
		</li>
		<li>
			Following
		</li>
		<li>
			Q
		</li>
		<li class="img-icon">
			<img src="/assets/icons/messages.svg" alt="">
		</li>
		<li class="img-icon">
			<img src="/assets/icons/notif.svg" alt="">
		</li>
		<li class="img-icon">
			<img src="/assets/icons/overflow.svg" alt="">
		</li>
	</ul>
</nav>