<div class="profile-navigation-bar">
	<div class="profile-leading">
		<div class="profile-avatar">
			<img src="assets/images/a-4.png" alt="">
		</div>
		<div class="profile-title"><%= username %></div>
	</div>

	<div class="profile-trailing">
		<div class="profile-icon add"></div>
		<div class="profile-icon search"></div>
		<div class="profile-icon settings"></div>
	</div>
</div>
