<div id="setting-trigger"></div>
<div class="settings">
	<ul class="setting-lists">
		<li data-pins=1  class=_active>Pins</li>
		<li data-pin=1 >Single Pin</li>
		<li data-sections-pins=1 >Sections & Pins</li>
		<li data-section-pins=1 >Section & Pins</li>
		<li data-section-pin=1 >Section & Pin</li>
	</ul>
</div>