<div class="home-indicator-wrap">
	<img src="assets/images/home-indicator.png" alt="">
</div>
<div class="status-bar-wrap">
	<img class="dark" src="assets/images/status-bar-dark.png" alt="">
	<img class="light" src="assets/images/status-bar-light.png" alt="">
</div>