<div class="creator-thanks-wrap">
	<div id="creator-thanks">Thanks!</div>
	<div id="creator-arrow-down"></div>
</div>
<div id="appreciation"></div>
<div class="icon-button stream-back"></div>
<div class="icon-button stream-audio"></div>