<div class="toast">
			<div class="toast-img-wrapper">
				<img src="assets/images/save-to-profile.svg" alt="">
			</div>
			<div class="toast-text">
				Save to <span>Profile</span>
			</div>
		</div>