<div class="toast">
	<div class="toast-leading">
			<div class="toast-img-wrapper">
				<img src="assets/images/a-4.png" alt="">
			</div>
			<div class="toast-text">
				Moved to <span>Profile</span>
			</div>
			</div>
			<div class="toast-trailing">
				<div class="button-sml secondary">Undo</div>
			</div>
</div>