<div class="usg-tag-bar">
		<div data-filter="*" class="button-sml _is-checked">All</div>

		<div data-filter=".fav" 	class="button-sml multiple">Favorite</div>
		<div data-filter=".price" 	class="button-sml multiple">Right price</div>
		<div data-filter=".should-try" class="button-sml multiple">To try</div>
		<div data-filter=".partner" class="button-sml multiple">Show my partner</div>
		<div data-filter=".tried" class="button-sml multiple">Tried this</div>
	</div>


