
 //* CSS structure

 //* 1. Tools...................Default mixins, functions and config variables.
 //* 2. Libs....................Vendor libraries
 //* 3. Base....................Variables, grids, Unclassed HTML elements (type selectors).
 //* 4. Components..............Atomic UI components
 //* 5. Modules.................Organized group of components (shared and page specific)



// Tools
@import 'tools/config';
@import 'tools/mixins';

// Libs
@import 'bower_components/susy/sass/susy';
@import 'bower_components/breakpoint-sass/stylesheets/breakpoint';
@import 'bower_components/modular-scale/stylesheets/_modular-scale.scss';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

// Base
@import 'base/variables';
@import 'base/normalized';
@import 'base/global';
@import 'base/grid';
@import 'base/typography';

// // Components
@import 'components/container';
@import 'components/type-styles';
@import 'components/buttons';

// // Shared Modules
@import 'modules/grid';
@import 'modules/nav';
