<section class="parent">
	<div class="child">
		<h1 class="intro">Hi Shavon!</h1>
		<h2 class="caption">Thanks for joining our study!</h2>
		<div class="proto-links-new">
			<a href="tag-a.html">Prototype A</a>
			<a href="tag-b.html">Prototype B</a>
		</div>
	</div>
</section>