<%
var name = "krizzly7";
var ph = "Add a private note—like “Show Tony?” or “Needs more salt”—to remember your ideas about this Pin";
%>

<div class="proto-nav">
	<a class="_active" href="tag-a.html">A</a>
	<a href="tag-b.html">B</a>
</div>
<section class="canvas tags-a">
	<div class="phone-canvas">
		<div class="home-indicator-wrap">
			<img src="../assets/images/home-indicator.svg" alt="">
		</div>

<div class="status-bar-wrap">
	<img class="dark" src="../assets/images/status-bar-dark.svg" alt="">
	<img class="light" src="../assets/images/status-bar-light.svg" alt="">
</div>
<div class="icon-button back"></div>
<div class="overlay"></div>
<div class="new-tag-sheet">
<div class="keyboard">
	<div class="optional-note-composer">
		<textarea placeholder= "<%= ph %>" type="text" class="note-composer-input"></textarea>
	</div>
			<div class="send-bar">
				<div class="button-delete-note _hidden"></div>
			<div class="button-confirm-note">Save</div>
		</div>
	<img src="../assets/images/keyboard.svg" alt="">
</div>
</div>
<div class="filter-sheet">
	<div class="filter-sheet-subhead">
		Filter options
	</div>
	<ul>
		<li data-filter="*" class="show-all-pins _active">
			Show all Pins
		</li>
		<li data-filter=".star" class="show-stars-only">
			Show Pins with ★
		</li>
		<li data-filter=".with-notes" class="show-stars-only">
			Show Pins with notes
		</li>
	</ul>
	<div class="button secondary close-sheet">Close</div>
</div>
<div class="closeup scroll-area">
	<%- partial("../library/_modules/_closeup-card-with-notes", {mode: name}) %>
	<div class="closeup-module">
		<div class="cu-title">Comments</div>
		<div class="comments-caption">
			Love this Pin? Add a comment!
		</div>
		<div class="composer-wrap">
			<div class="comment-avatar k"></div>
			<div class="comments-input">Add comment or photo</div>
		</div>

	</div>
	<div class="closeup-module">
		<div class="cu-title">More like this</div>
		<%- partial('../library/_modules/_more-like-this-grid') %>
	</div>
</div>
<div class="pingrid scroll-area">

<div class="navigation-bar">
	<div class="icon-button overflow"></div>
</div>
<div class="board-header">
	<div class="board-title">
		Bathroom Remodel
	</div>
	<div class="avatars">
		<div class="you k"></div>
		<div class="add"></div>
	</div>
</div>
<div class="board-toolbar">
	<div class="tool more-ideas">
		<div class="icon"></div>
		<div class="text">More ideas</div>
	</div>
	<div class="tool organize">
		<div class="icon"></div>
		<div class="text">Organize</div>
	</div>
	<div class="tool notes">
		<div class="icon"></div>
		<div class="text">Notes</div>
	</div>
	</div>
	<div class="filter-bar">
		<div class="pin-count">15 Pins</div>
		<div class="button-sml show-sheet">Filter</div>

	</div>
    <%- partial("../library/_modules/_grid", {mode: name}) %>

	<div class="empty-state _hidden">
		You don't have any star Pins yet.<br>Tap ★ to mark your favorite ideas.
	</div>
	</div>
</div>
	</div>
</div>
</section>