<%
var galleryData;

var pastData = public.content.projects._data.past;
var almostData = public.content.projects._data.almost;

if ( mode == "past" ) {
galleryData = pastData;
}
if ( mode == "almost" ) {
galleryData = almostData;
}
%>
<div class="detail-content" id="gallery-wrapper"">
	<% for ( var i=0; i < galleryData.length; i++ ) { %>
		<% if ( galleryData[i].isVideo ) { %>
			<div class="video-container">
			    <section class="inner with-iframe">
			        <iframe src="https://player.vimeo.com/video/<%= galleryData[i].id %>?background=1" width="1440" height="700" loop=1 autoplay=1 ></iframe>
			    </section>
			</div>

		<% } else { %>

			<div class="img-container wide is-loading">
				<picture>
					<source srcset="/assets/projects/gallery/L/<%= galleryData[i].src %>.png" media="(min-width: 1440px)">
					<source srcset="/assets/projects/gallery/L/<%= galleryData[i].src %>.png" media="(min-width: 1023px)">
					<img srcset="/assets/projects/gallery/S/<%= galleryData[i].src %>.png" alt="…">
				</picture>
			</div>
		<% } %>
	<% } %>
</div>