<div class="modal-wrap">
	<div class="modal">
		<div class="modal-header">
			<div class="icon-btn previous _hid"></div>
			<div class="modal-title">
				Title goes here
			</div>
			<div class="icon-btn close"></div>
		</div>
		<div class="modal-content">
			<div class="inner-modal content-first">
			<p>
				First Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			</div>
						<div class="inner-modal content-second">
			<p>
				Second Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			<p>
				Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Recusandae aliquid quas dignissimos aliquam placeat deleniti doloremque omnis! Itaque labore adipisci, eius esse, quae suscipit aliquam quo dignissimos dolorum sit, amet?
			</p>
			</div>
		</div>
		<div class="modal-footer">
			<div class="primary-btn">Next</div>
		</div>
	</div>
	</div>