<section class="next-container">
	<div class="inner">
		<p>Next up</p>
		<% if ( mode == "marcus" ) { %>
			<a href="/projects/fandango">
				<h3>Fandango</h3>
			</a>
		<% } %>
		<% if ( mode == "fandango" ) { %>
			<a href="/projects/teva">
				<h3>Teva</h3>
			</a>
		<% } %>
		<% if ( mode == "teva" ) { %>
			<a href="/projects/past">
				<h3>Past Work</h3>
			</a>
		<% } %>
		<% if ( mode == "past" ) { %>
			<a href="/projects/marcus">
				<h3>Marcus</h3>
			</a>
		<% } %>
		<% if ( mode == "almost" ) { %>
			<a href="/projects/marcus">
				<h3>Marcus</h3>
			</a>
		<% } %>
	</div>
</section>