$first: #C5EDFE;
$second: #FFDADA;
$third: #D0FECC;
$fourth: #FFE5FF;
$a: #FFE4C3;
$b: #E5FFC3;
//

$wanna-try: #695DC4;
$tried-it: #4189F6;
$love-it: #FF6464;
$maybe: #F6C341;

$duration: 350ms;

html,
body,
main,
.master-wrapper,
.outer-wrapper {
	color: $darkest;
	height: 100%;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}



._hidden {
	display: none;
}

.canvas {
	min-height: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $first;
	&.tags-one {
		background-color: $first;
	}
	&.tags-two {
		background-color: $second;
	}
	&.tags-three {
		background-color: $third;
	}
	&.tags-four {
		background-color: $fourth;
	}
	&.tags-a {
		background-color: $a;
	}
	&.tags-b {
		background-color: $b;
	}
}

.index-link {
	position: fixed;
	top: 24px;
	color: rgba($darkest, 0.4);
	right: 8px;
	font-size: 14px;
	transform: rotate(90deg);
	text-decoration: none;
	&:hover  {
		color: $darkest;
		text-decoration: underline;
	}
}

.proto-container {
	padding: 10vw;
	width: 75vw;
	text-align: center;
	margin: 0 auto;

.proto-title {
	margin-top: 10px;
	font-weight: 600;
	font-size: 15px;
}
.proto-section {
	font-size: 0;
	display: flex;
	align-item: center;
	justify-content: space-between;
}
	a {
		font-size: 14px;
		padding: 11.5px 14px;
		width: 37px;
		text-transform: uppercase;
		border-radius: 80px;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		margin-left: 8px;
		color: $darkest;
		border-radius: 100%;
		background-color: rgba($black, .1);
		&:hover,
		&._active {
			background-color: $black;
			color: $white;
		}
	}
	hr {
		border: 0;
		border-top: 1px solid $light;
		margin: 24px auto;
	}
}
.phone-canvas {
	position: relative;
	width: 375px;
	height: 812px;
	background-color: white;
	overflow: hidden;
	// -webkit-mask-image: -webkit-radial-gradient(white, black);
	border-radius: 40px;
}


// scroll area

.scroll-area {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 812px;
	border-radius: 40px;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}


// home indicator + status bar //

.home-indicator-wrap {
	position: absolute;
	pointer-events: none;
	bottom: 0;
	width: 375px;
	height: 34px;
	z-index: 100;
	img {
		height: 34px;
		position: absolute;
		width: auto;
	}
	.light {
		opacity: 0;
		._stream-is-on & {
			opacity: 1;
		}
		._sheet-is-on._stream-is-on & {
			opacity: 0;
		}
	}
	.dark {
	opacity: 1;
		._stream-is-on & {
			opacity: 0;
		}
		._sheet-is-on._stream-is-on & {
			opacity: 1;
		}
	}
}

.status-bar-wrap {
	position: absolute;
	height: 44px;
	width: 100%;
	z-index: 100;
	img {
		height: 44px;
		width: auto;
	}
}

// nav bar

.navigation-bar {
	position: absolute;
	padding: 8px;
	padding-top: 44px;
	display: block;
	width: 375px;
	display: flex;
	justify-content: center;
	z-index: 2;
	opacity: 1;
	transform: scale(1) translateY(0);
	transform-origin: 50% 500%;
	box-shadow: 0 0 8px rgba($black, 0);
	transition: box-shadow 100ms $ease-out, transform $duration $ease-out;
	&._active {
		background-color: rgba($white,1);
		box-shadow: 0 0 8px rgba($black, .1);
	}
	._profile-is-on & {
		display: none;
	}
}


.status-bar-wrap img {
	position: absolute;
	transition: opacity $duration $ease-out;
	&.dark {
		opacity: 1;
		._closeup-is-on &,
		._sheet-is-on & {
			opacity: 0;
		}
		._profile-is-on & {
			opacity: 1;
		}
		._profile-is-on._closeup-is-on & {
			opacity: 1;
		}
	}
	&.light {
		opacity: 0;
		._closeup-is-on &,
		._stream-is-on &,
		._sheet-is-on & {
			opacity: 1;
		}
		._profile-is-on &, {
			opacity: 0;
		}
	}
}

// masonry layout

.masonry-layout .item  {
	opacity: 0;
	transition: opacity $duration $ease-out;
	&._loaded {
		opacity: 1;
	}
}

//icon buttons

.main-card-button-wrap {
	display: flex;
}
.save-btn {
	cursor: pointer;
	background-image: url(../icons/icon-heart-white.svg);
	background-size: 24px;
	background-color: $primary;
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	border-radius: 100%;
	width: 60px;
	margin-left: 8px;
}
.icon-button {
	width: 44px;
	height: 44px;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat
}

.back {
	position: absolute;
	top:  44px + 8;
	left: 8px;
	z-index: 9;
	background-size: 16px;
	pointer-events: none;
	._closeup-is-on & {
		pointer-events: auto;
	}
	background-image: url(../icons/icon-back.png);
}
.stream-back {
	position: absolute;
	top:  44px + 8;
	left: 8px;
	z-index: 9;
	background-size: 16px;
	pointer-events: none;
	._stream-is-on & {
		pointer-events: auto;
	}
	background-image: url(../icons/icon-close-white.svg);
}

.stream-audio {
	position: absolute;
	top:  44px + 8;
	right: 8px;
	z-index: 9;
	background-size: 22px;
	pointer-events: none;
	opacity: 0;
	transition: background-color $duration $ease-out;



	._stream-is-on & {
		pointer-events: auto;
		opacity: 1;
		&:hover {
			background-color: rgba($darkest, .4);
			cursor:pointer;
		}
	}
	._stream-is-on._audio-is-on & {
		background-image: url(../icons/stream-icon-unmute.svg);
		opacity: 1;
	}
	._closeup_is-on._audio-is-on & {
		opacity: 0;
	}
	background-image: url(../icons/stream-icon-audio.svg);
}

.comment {
	margin-left: 8px;
	background-image: url(../icons/icon-comment.svg);
			background-size: 24px;
}

.share {
	background-image: url(../icons/icon-share.svg);
			background-size: 24px;
}

.overflow {
	background-image: url(../icons/icon-overflow.png);
			background-size: 20px;
}

.close {
	&:hover {
		background-color: $light;
		cursor: pointer;
	}
	background-image: url(../icons/icon-close.svg);
			background-size: 16px;
}


.filter {
	background-image: url(../icons/icon-filter.png);
			background-size: 20px;
}

.leading-button-wrap {
	display: flex;
}
.show-sheet._active {
	background-color: $darkest;;
	color: $white;
	&:hover {
		background-color: $darkest;;
		color: $white;
	}
}
// header
.board-header {
	.board-title {
		font-size: 36px;
		font-weight: 600;
		font-family: $font-display;
		letter-spacing: -0.6px;
		text-align: center;
	}
	.avatars {
		padding-top: 8px;
		font-size: 0;
		text-align: center;
		margin: 0 auto;
		.you, .add {
			width: 44px;
			height: 44px;
			border-radius: 100%;
			border: 1px solid $white;
			display: inline-block;
		}
		.you {
			background-image: url(../images/a-4.png);
			background-size: cover;
			&.k {
				background-image: url(https://i.pinimg.com/280x280_RS/2d/15/dd/2d15ddccec3ec11e81b3e588dc95918b.jpg);
			}
			&.s {
				background-image: url(https://i.pinimg.com/280x280_RS/c7/6d/54/c76d54c920375166747a5bb6b693f87d.jpg);
			}
			&.moomin {
				background-image: url(https://i.pinimg.com/280x280_RS/21/e5/57/21e557334adb859a84ab911f61af05fa.jpg);
			}
			&.m {
				background-image: url(https://i.pinimg.com/280x280_RS/29/6b/dd/296bdda90bcdc28e0cb8e9c91f62a640.jpg);
			}
			&.n {
				background-image: url(https://i.pinimg.com/280x280_RS/ec/43/37/ec43373b026e476bdb219ff5ccf7da7c.jpg);
			}
		}
		.add {
			margin-left: -16px;
			background-color: $light;
			background-image: url(../icons/icon-add.png);
			background-size: 20px;
			background-position: center;
			background-repeat: no-repeat;
		}

	}
}

// toolbar

.board-toolbar {
	padding: 16px 0;
	display: flex;
	justify-content: center;
}

.tool {
	margin-right: 8px;
	&:last-child {
		margin-right: 0;
	}
	.icon {
		width: 72px;
		height: 72px;
		border-radius: 24px;
		background-color: $light;
		background-size: 24px;
			background-position: center;
			background-repeat: no-repeat;
	}
	.text {
		font-size: 12px;
		font-weight: 600;
		text-align: center;
		margin-top: 6px;
	}
}

.notes .icon {
	background-image: url(../icons/icon-notes.png);
}
.organize .icon {
	background-image: url(../icons/icon-organize.png);
}

.more-ideas .icon {
	background-image: url(../icons/icon-more-ideas.png);
}

// filter-bar
.filter-bar {
	width: 100%;
	margin-top: 24px;
	display: flex;
	padding: 8px;
	margin-bottom: 8px;
	padding-bottom: 0;
	align-items: center;
	justify-content: space-between;
}

.pin-count {
	font-size: 20px;
	padding-left: 8px;
	font-family: $font-display;
	font-weight: 600;
	letter-spacing: -0.2px;
}

// masonry-grid

.masonry-layout {
	margin-left: 8px;
	margin-bottom: 48px;
	margin-top: 24px;
}

.icon-button-star {
	cursor: pointer;
	border-radius: 100%;
	position: relative;
	width: 44px;
	height: 44px;
	&:after {
		width: 44px;
		height: 44px;
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 100%;
		background-color: rgba($black, .05);
		z-index: 1;
		left: 0;
		top: 0;
		opacity: 0;
	}
	&:hover {
		&:after {
			opacity: 1;
		}
	}
}

.pin-img-wrapper {
	border-radius: 16px;
	font-size: 0;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	position: relative;
		z-index: 0;
	img {
		width: 100%;
		height: auto;
	}
	.star {
		cursor: pointer;
		width: 32px;
		height: 32px;
		position: absolute;
		background-color: rgba($white, .8);
		border-radius: 100%;
		right: 8px;
		bottom: 8px;
		.icon-wrap {
			width: 32px;
			height: 32px;
			transform:  scale(.8);
			background-image: url(../icons/icon-not-active.png);
			transition: transform 250ms $ease-out-back 50ms;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px;
		}
		&:hover {
			background-color: $white;
		}
		&._active {
			.icon-wrap {
				transform:  scale(.88);
				background-image: url(../icons/icon-star-active.png);
			}
		}
	}
}
.pin-title {
	font-size: 12px;
	font-weight: 600;
	padding-left: 6px;
	padding-top: 6px;
	line-height: 1.2;
	&.more-like-this {
		padding-right: 16px;
	}
}
.item {
	width: 176px;
	margin-bottom: 16px;
	cursor: pointer;
	&._hidden {
		display: none;
	}
}

// closeup view

.phone-canvas {
	transition: all 600ms $ease-out;
	background-color: $black;
	box-shadow: 0 0 0 8px $darkest;
	._closeup-is-on & {
		background-color: $black;
	}
}

.scroll-content-wrapper {
	transform: translateX(0);
	height: 812px;
	overflow: hidden;
	transition: transform $duration $ease-out, opacity $duration $ease-out;
	transform-origin: top center;
	._sheet-is-on & {
		transform: scale(.97) translateY(-6px);
	}
	._stream-is-on & {
		transform: scale(1.2);
		opacity: 0;
		pointer-events: none;
	}
}
.pingrid {
	transition: all $duration $ease-out;
	background-color: $white;
	transform: translateX(0);
	._profile-is-on & {
		display: none;
	}

}

.closeup {
	top: 0;
	z-index: 2;
	transition: transform $duration $ease-out;
	transform: translateX(100%);
	padding-top: 44px;
	overflow-y: auto;
	overflow-x: hidden;
	._closeup-is-on & {
		transform: translateX(0) scale(1) translateY(0);
	}




	._keyboard-is-on & {
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}
}

.keyboard img {
	width: 375px;
	height: auto;
}

._closeup-is-on {
	 .pingrid {
		transform: translateX(-100%);
		opacity: 0;
	}
	.navigation-bar {
		transform: translateX(-100%);
		opacity: 0;
	}
}
.scroll-area {
	position: absolute;
	width: 375px;
	height: 812px;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}
// closeup module

.closeup-module {
	width: 100%;
	background-color: white;
	border-radius: 32px;
	margin-bottom: 2px;
text-align: center;
	&:first-child {
		margin-top: 44px;
	}
}

.comments-caption {
	font-size: 16px;
	line-height: 1.4;
	padding: 0 16px;
	text-align: center;
}

.composer-wrap {
	padding: 16px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.composer-leading {
	display: flex;
}

.comment-avatar {
	width: 44px;
	height: 44px;
	border-radius: 100%;
	overflow: hidden;
	img {
		width: 44px;
		height: auto;
	}
}

.comment-img-icon {
	width: 44px;
	height: 44px;
	// background-color: green;
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../icons/icon-img.png);
}
.comments-input {
	position: relative;
	text-align: left;
	padding: 14px 0;
	padding-left: 8px;
	width: 200px;

	color: #8e8e8e;
}

// main card
.main-card-buttons-wrap {
	display: flex;
	align-items: center;
}
.button {
	padding: 22px 12px;
	width: 80px;
	background-color: $light;
	display: inline-block;
	text-align: center;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	border-radius: 32px;
	transition: all $duration $ease-out;
	transform: scale(1);
	&:hover {
		background-color: darken($light, 4%);
	}
	&:active {
		transform: scale(.9);
	}
	&.primary {
		background-color: $primary;
		color: $white;
	}
}

.main-card-wrapper {
	background-color: $white;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	border-radius: 32px;
	margin-bottom: 2px;

	img {
		width: 100%;
	}
}

.reaction-card-wrapper {
	background-color: $white;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	border-radius: 32px;
	margin: 0 auto;
	margin-bottom: 2px;
	text-align: center;
	.tags-b & {
		padding-bottom: 24px;
	}
	.button-sml {
		.tags-a &,
		.tags-b & {
			margin-top: 16px;
		}
		.tags-a & {
			margin-bottom: 16px;
		}
		.tags-b & {
			margin-bottom: -16px;
		}
		&._hidden {
			display: none;
		}
	}
	&._hidden {
		display: none;
	}
}
.cu-pin-title {
	font-size: 28px;
	margin: 0 auto;
	margin-top: 16px;
	font-weight: 600;
	width: 100%;
	padding: 0 16px;
	text-align: left;
	line-height: 1.1;
	letter-spacing: -1.2px;
}
.cu-pin-description {
	text-align: left;
	margin-top: 8px;
	padding: 0 16px;
	line-height: 1.3;
}

.cu-pin-actions-wrap {
	display: flex;
	padding: 16px;
	justify-content: space-between;
	align-items: center;
}

// others
.cu-title,
.cu-title-reaction {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.2px;
	padding: 24px 16px 16px 16px;
	text-align: center;
	font-family: $font-display;
	position: relative;
	&.with-note,
	&.with-lock {
		&:before {
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				background-image: url(../icons/icon-lock.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				left: 50%;
				top: 50%;
				margin-left: -66px;
				margin-top: -2px;
		}
	}
	&.with-lock:before {
		margin-left: -74px;
		margin-top: -2px;
	}
}

// overlay
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba($black, .4);
	z-index: 11;
	pointer-events: none;
	opacity: 0;
	transition:  opacity $duration $ease-out;
	._sheet-is-on & {
		opacity: 1;
		cursor: pointer;
		pointer-events: auto;
	}
	._keyboard-is-on & {
		opacity: 1;
		cursor: pointer;
		pointer-events: auto;
	}
}
// filter sheet
.filter-sheet,
.board-picker-sheet {
	padding: 32px 16px 34px 16px;
	width: 375px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 0;
	transform: translateY(100%);
	bottom: 0;
	z-index: 11;
	background-color: $white;
	border-radius: 32px;
	transition:  transform $duration  $ease-out;
	._sheet-is-on & {
		transform: translateY(0);
	}
}

.board-picker-sheet {
	height: 758px;
	padding: 0px 8px 34px 8px;
	padding-top: 0;
}

.sheet-header {
	padding: 8px 0 0 0;
	width: 100%;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.sheet-title {
		display: inline;
		font-size: 16px;
		font-weight: 600;
	}
}
.board-list {
	display: flex;
	align-items: center;
	padding: 8px;
	border-radius: 8px;
	&:hover {
		background-color: $light;
		cursor: pointer;
	}
	&:last-child {
		margin-bottom: 32px;
	}
	.board-title {
		font-size: 20px;
		font-weight: 600;
		font-family: $font-display;
		margin-left: 8px;
		// text-transform: capitalize;
	}
	.board-list-img {
		width: 48px;
		height: 48px;
		overflow: hidden;
		border-radius: 8px;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.filter-sheet-subhead,
.board-picker-sheet-subhead {
	text-align: left;
	font-family: $font-text;
	margin-bottom: 8px;
	padding-left: 8px;
}

.button-sml {
	background-color: $light;
	padding: 14px 12px 14px 12px;
	border-radius: 32px;
	font-size: 16px;
	font-weight: 600;
	color: $darkest;
	display: inline-block;
	cursor: pointer;
	transform: scale(1);
	transition: all $duration $ease-out;
	&:hover {
		background-color: darken($light, 4%);
	}
	&:active {
		transform: scale(.9);
		// background-color: $darkest;
		// color: $white;
	}

}
.filter-sheet ul {
	text-align: left;
	li {
		font-size: 20px;
		font-family: $font-display;
		letter-spacing: -0.2px;
		font-weight: 600;
		margin-bottom: 16px;
		position: relative;
		cursor: pointer;

		&:last-child {
			margin-bottom: 32px;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			width: 20px;
			height: 20px;
			opacity: 0;
			transform: scale(0);
			background-image: url(../icons/icon-check.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 16px;
			transition: all $duration $ease-out;
			z-index: 2;
		}
		&._active:after {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.filter-sheet .button {
	text-align: center;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	&:hover {
		background-color: darken($light, 4%);
	}
}

// empty state

.empty-state {
text-align: center;
margin: 0 auto;
line-height: 1.6;
padding: 80px 32px;
	&._hidden {
		display: none;
	}
}

.pin-type {
	&._hidden {
		display: none;
	}
}



.icon-button.back {
	background-color: $white;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
	transition: box-shadow $duration $ease-out, background-color $duration $ease-out;

	._profile-is-on & {
		display: none;
	}
	._closeup-is-on & {
		opacity: 1;
		background-image: url(../icons/icon-back-white.png);
		background-color: rgba($black, .2);
		backdrop-filter: blur(10px);
		&._active {
			background-image: url(../icons/icon-back.png);
			background-color: $white;
			box-shadow: 0 0 8px rgba($black, .1);
			backdrop-filter: unset;
		}
	}
	&._active {
		box-shadow: 0 0 8px rgba($black, .1);
	}
}
.icon-button.stream-back {
	opacity: 0;
	pointer-events: none;
	._stream-is-on & {
		pointer-events: auto;
		&:hover {
      cursor: pointer;
    }
		opacity: 1;

		}
}

// more like this pin grid

.more-like-this-grid {
	padding-left: 7px;
}

.disco-pin {
	width: 174px;
	margin-bottom: 16px;
	.pin-img-wrapper {
		border-radius: 16px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		background-color: green;
		img {
			width: 174px;
			height: auto;
		}
	}
	.pin-title {
		position: relative;
		text-align: left;
		&:after {
			content: '';
			right: 6px;
			top: 6px;
			z-index: 1;
			position: absolute;
			width: 10px;
			height: 10px;
			background-size: cover;
			background-image: url(../icons/icon-overflow.png);
		}
	}
}



// auto generate tag bar

.auto-generate-tags-bar,
.usg-tag-bar {
	margin-top: 16px;
	padding: 8px;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	width: 375px;
	overflow-x: auto;
	overflow-y: hidden;
	.button-sml {
		padding: 15px 14px;
		font-size: 14px;
		white-space: nowrap;
		margin-right: 4px;
		position: relative;
		transition: all $duration $ease-out;
		transform: scale(1);
		&:hover {
			background-color: darken($light, 10%);
		}

		&:active {
			transform: scale(.9);
		}
		&.multiple {

		}
		&._is-checked {
			color: $white;
			background-color: $darkest;


		}
	}
}
.time-wrap,
.serve-wrap,
.number-wrap {
	font-size: 12px;
	padding-left: 6px;
	padding-top: 2px;
}
.time-wrap,
.serve-wrap,
.number-wrap {
	span {
		&._hidden {
			display: none;
		}
	}
	&._hidden {
		display: none;
	}
}

.number-wrap {
	font-size: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}
// stars
.icon-star {
	width: 11px;
	height: 11px;
	display: inline-block;
	background-image: url(../icons/icon-star.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 2px;
	.cu-pin-description & {
		margin-right: 0;
	}
}


// back to index
.back-to-index {
	position: absolute;
	top: 24px;
	left: 24px;
	text-decoration: none;
	color: $black;
	&:hover {
		text-decoration: underline;
	}
}

.proto-nav {
	position: absolute;
	top: 16px;
	left: 16px;
	a {
		display: block;
		margin-bottom: 16px;
		padding: 9.5px 8px;
		font-size: 13px;
		width: 32px;
		text-decoration: none;
		text-align: center;
		color: rgba($black, .5);
		border-radius: 100%;
		background-color: rgba($black, .1);
		&:hover,
		&._active {
			background-color: $black;
			color: $white;
		}
	}
}

// reaction button
.reaction-button-wrap {
	display: flex;
	padding: 32px;
	padding-top: 8px;
	padding-bottom: 24px;
	margin: 0 auto;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}
.reaction-btn  {
	width: 64px;
	height: 92px;
	cursor: pointer;
}

// reaction tags
span.wanna-try,
span.tried-it,
span.love-it,
span.maybe {
	&._hidden {
		display: none;
	}
}

span.wanna-try span {
	color: $wanna-try;
}
span.tried-it span {
	color: $tried-it;
}
span.love-it span {
	color: $love-it;
}
span.maybe span {
	color: $maybe;
}

// label

.usg-tags-wrap {
	font-size: 0;
	margin-top: 16px;
	margin-bottom: 32px;
	padding: 0 8px;
	.button-sml {
		vertical-align: middle;
		display: inline-block;
		padding: 15px 14px;
		margin-bottom: 8px;
		margin-right: 4px;
		transition: all $duration $ease-out;
		position: relative;
		&:hover {
			background-color: darken($light, 10%);
		}

		&:active {
			transform: scale(.9);
		}
		&._active {
			background-color: $darkest;
			color: $white;
		}
		&.new-tag {
			height: 44px;
			width: 44px;
			background-image: url(../icons/icon-add.png);
			background-repeat: no-repeat;
			background-size: 16px;
			background-position: center;
		}
	}
}

// composer

.new-tag-sheet {
	font-size: 0;
	width: 100%;
	position: absolute;
	z-index: 2;
	bottom: 0;
	transform: translateY(100%);
	transition: transform $duration $ease-out;
	._keyboard-is-on & {
		transform: translateY(0);
	}
	.composer {
		padding: 8px;
		background-color: $white;
		.button-sml {
			display: inline-block;
		}
		input {
			padding: 11px 12px;
			font-size: 16px;
			caret-color: $primary;
			border-radius: 24px;
			border: 2px solid $light;
			margin-right: 8px;
			font-family: $font-text;
			width: 285px;
			&::placeholder {
  				color: darken($light, 20%);
			}
		}
	}
}

///////////
// tag b //
///////////


.note-input {
	margin: 0 auto;
	cursor: pointer;
	background-color: $light;
	border-radius: 24px;
	font-size: 16px;
	caret-color: $primary;
	padding: 14px 16px;
	color: $dark;
	font-family: $font-text;
	border: 0;
	width: 343px;
	text-align: left;
	&::placeholder {
			color: $dark;
	}
	&._hidden {
		display: none;
	}
}


.optional-note-composer {
	padding: 24px 32px;
	background-color: $white;
	border-top-right-radius: 32px;
	border-top-left-radius: 32px;
}

.note-composer-input {
	caret-color: $primary;
	border: 0;
	height: 142px;
	font-size: 16px;
	font-family: $font-text;
	color: $darkest;
	width: 100%;
	vertical-align: top;
	padding: 8px 0;
	resize: none;
	&::placeholder {
			color: $dark;
	}
}

.send-bar {
	width: 100%;
	background-color: white;
	padding: 16px;
	height: 70px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		border-top: 1px solid $light;
		width: 343px;
		left: 16px;
		top: 0;
	}
}

.button-delete-note {
	cursor: pointer;
	width: 44px;
	height: 44px;
	background-position: center;
	background-image: url(../icons/icon-trash.png);
	background-size: 74%;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 8px;
	font-size: 0px;
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -22px;

}

.button-confirm-note {
	position: absolute;
	right: 16px;
	padding: 14px 12px;
	border-radius: 32px;
	cursor: pointer;
	background-color: $primary;
	font-size: 16px;
	font-family: $font-text;
	color: $white;
	font-weight: 600;

}

.private-note {
	color: $darkest;
	padding: 0 8px;
	font-weight: 600;
	span {
		font-weight: 400;
	}
}

.pin-note {
	padding-left: 6px;
	font-size: 12px;
	padding-top: 2px;
}


////


.note-trigger-wrap {
	padding: 22px 16px;
}
.note-to-self-trigger {
	font-style: 16px;
	text-align: center;
	color: $dark;
	position: relative;
	width: 100%;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -15px;
		width: 44px;
		height: 44px;
		background-image: url(../icons/icon-add-note.png);
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: center;
	}
}

.kb-trigger {
	&:hover {
		background-color: $light;
	}
}

h1.intro {
	font-family: $font-display;
	font-size: 42px;
	letter-spacing: -1px;
	text-align: center;
	font-weight: 700;
}

h2.caption {
	font-family: $font-display;
	font-size: 21px;
	margin-top: 16px;
	margin-bottom: 40px;
	text-align: center;
}

.proto-links-new {
	margin: 0 auto;
	text-align: center;

	a {
		margin: 0 auto;
		border-radius: 8px;;
		color: $darkest;
		text-decoration: none;
		width: 59px;
		height: 60px;
		background-color: $light;
		padding: 13px 24px;
		text-align: center;
		&:hover {
			background-color: $darkest;
			color: $white;
		}
	}
}

section.parent {
  position: relative;
  height: 100%;
}

.child {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-top: -100px;
  	transform: translateY(-50%) translateX(-50%);
}


////////

.hf-tabs {
	font-size: 0;
	li {
		font-weight: 600;
		display: inline-block;
		font-size: 16px;
		padding: 14px 12px;
		border-radius: 40px;
		&._active {
			color: $white;
			background-color: $darkest;
		}
	}
}

// toast

.toast {
	position: absolute;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0px;
	opacity: 0;
	width: 360px;
	z-index: 1001;
	background-color: $white;
	box-shadow: 0 0 8px rgba($darkest, .15);
	border-radius: 80px;
	padding: 24px;
	left: 50%;
	transform: translateX(-50%);
	&._rounded {
		.toast-img-wrapper {
			border-radius: 80px;
		}
	}
	.toast-leading {
		display: flex;
		align-items: center;
		    // flex-flow: row wrap;
	}
	.toast-img-wrapper {
		width: 48px;
		font-size: 0;
		border-radius: 8px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.toast-text {
		font-size: 16px;
		max-width: 180px;
		line-height: 1.2;
		margin-left: 14px;
		color: $darkest;
		padding-right: 16px;
		span {
			  &::first-letter {
   					 text-transform: uppercase;
  }
			font-weight: 600;
		}
	}
}


// stream

.stream-wrapper {
	pointer-events: none;
	position: absolute;
	width: 375px;
	height: 812px;
	overflow: hidden;
	transition: transform $duration $ease-out;
	opacity: 0;
	transform: scale(.8);
	// opacity: 1;
	// z-index: 100;;
	// transform: scale(1);
	// background-color: black;
	._stream-is-on & {
		transform: scale(1);
		opacity: 1;
		pointer-events: auto;
	}
	.idea-pin {
		height: 667px;
		position: relative;
		margin-bottom: 2px;
		transition: opacity $duration $ease-out;
		opacity: .2;
		&:hover {
			cursor: grab;
		}
		&._played {
			opacity: 0;
		}
		&._active {
			opacity: 1;
		}
		&:first-child {
			margin-top: 44px;
		}
	}
}

.attribution {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 16px;
	display: flex;
	align-items: center;
	z-index: 3;
	font-size: 12px;
	color: $white;
	.attribution-info {
		margin-left: 8px;
	}
	.creator-avatar {
		overflow: hidden;
		border-radius: 100%;
		width: 44px;
		height: 44px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.creator-title {
		font-weight: 600;
		margin-bottom: 2px;
	}
}

.page-container {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	.page {
		flex: none;
		width: 375px;
		position: relative;
		background-color: #000;
		height: 667px;
		overflow: hidden;
		border-radius: 16px;
		&.balance-offset {
			video {
				transform: translateX(-54%);
			}
		}
		video {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			width: auto;
		}
	}
}

.action-bar {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
	.actions {
		padding: 16px;
		padding-bottom: 8px;
			li {
				width: 44px;
				height: 44px;
			}
	}
}

.action {
	margin-bottom: 32px;
}

.stream-save {
	margin-bottom: 24px;
}
.stream-button {
	// background-color: $white;
	width: 32px;
	height: 32px;
	background-size: 28px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	margin: 0 auto;


	.stream-save & {
		// background-image: url('../icons/stream-icon-save.svg');
	}
	.stream-comment & {
background-image: url('../icons/stream-icon-comment.svg');
	}
	.stream-share & {
background-image: url('../icons/stream-icon-share.svg');
	}
	.stream-detail & {
background-image: url('../icons/stream-icon-detail.svg');
	}
}

.stream-count {
	font-size: 12px;
	color: $white;
	text-align: center;
	margin-top: 4px;
	font-weight: 500;
}

.pages-progress {
	position: absolute;
	bottom: 6px;
	// background-color: green;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 40px);
	display: flex;
	align-items: center;
	overflow: hidden;
	z-index: 2;
	justify-content: flex-start;
}


.progress-wrap {
		border-radius: 8px;
	background-color: rgba($white, .4);
	position: relative;
	width: 100px;
	margin-right: 4px;
	height: 100%;
	flex-grow: 1;
	&:last-child {
		margin-right: 0;
	}
	.progress {
		background-color: $white;
		position: absolute;
		width: 0%;
		border-radius: 8px;
		height: 100%;
	}
}

.next-btn,
.prev-btn,
.play-pause-btn {
	height: 100%;
	width: 100px;
	// background-color: green;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	&:hover {
		cursor: pointer;
	}

}

.prev-btn {
	.page:first-child & {
		pointer-events: none;
	}
}

.next-btn {
	right: 0px;
	left: auto;

	.page:last-child & {
		pointer-events: none;
	}
}

.stream-save-btn {
	cursor: pointer;
	z-index: 100;
	position: relative;
	// background-color: blue;;
}

.video-skrim {
	position: absolute;
	pointer-events: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	// https://cssgradient.io/
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 100%);
}

.player-control {
	position: absolute;
	pointer-events: none;
	width: 60px;
	height: 60px;
	top: 50%;
	z-index: 10;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	background-repeat: no-repeat;
	background-image: url('../images/play.svg');
	opacity: 0;
	transform: scale(.4);
	&.play {
		//
	}
	&.pause {
		background-image: url('../images/pause.svg');
	}
}

.play-pause-btn {
	// background-color: blue;
	width: 175px;
	left: 100px;
}

.profile.scroll-area {
	background-color: $white;
	display: none;
	padding-bottom: 100px;
	._profile-is-on & {
		display: block;
	}
}

.profile-navigation-bar {
	display: none;
	width: 100%;
	background-color: $white;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
		padding-top: 44px;
	position: absolute;
	z-index: 2;
		box-shadow: 0 0 8px rgba($darkest, 0);
	&._active {
		box-shadow: 0 0 8px rgba($darkest, .1);
	}
	._profile-is-on & {
		display: flex;
	}

.profile-leading {
	display: flex;
	align-items: center;
	.profile-avatar {
		border-radius: 100%;
		overflow: hidden;
		height: 44px;
		width: 44px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.profile-title {
		font-size: 20px;
		font-family: $font-display;
		font-weight: 600;
		padding: 8px;
	}
}
	.profile-trailing {
		display: flex;
	}
	.profile-icon {
		border-radius: 100%;
		overflow: hidden;
		height: 44px;
		width: 44px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px;
		margin-left: 12px;

		&.add {
			background-image: url('../icons/icon-add.svg');
		}
		&.search {
			background-image: url('../icons/icon-search.svg');
		}
		&.settings {
			background-image: url('../icons/icon-settings.svg');
		}
	}
}

.profile-tabs {
	display: flex;
	align-items: center;
	margin-top: calc( 120px - 8px );
	height: 44px;
	div {
		flex-grow: 1;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 22px;
		height: 100%;
		border-bottom: 1px solid $light;
		&.shop {
			background-image: url('../icons/profile-icon-shop.svg');
		}
		&.saved {
			background-image: url('../icons/profile-icon-saved.svg');
			border-bottom: 2px solid $darkest;
		}

	}
}

.boards {
	padding: 16px 8px;
	display: flex;
	flex-wrap: wrap;
	.board {
		margin-bottom: 24px;
		&:nth-child(odd) {
			margin-right: 7px;
		}
	}
	.board-meta {
		padding: 8px;
	}
	.board-title {
		font-size: 20px;
		font-family: $font-display;
		font-weight: 600;
		text-transform: capitalize;
	}
	.board-pin-count {
		margin-top: 4px;
		font-size: 12px;
	}
}

.board-rep {
	border-radius: 16px;
	height: 117px;
	width: 176px;
	overflow: hidden;
	background-size: cover;
	display: flex;
	.br-leading {
		background-color: $light;
		width: 117px;
	}
	.br-trailing {
		width: calc(176px - 1px - 117px);
		margin-left: 1px;
		display: flex;
		flex-direction: column;

		div {
			flex-grow: 1;
		}
		.top {
			background-color: $light;
			margin-bottom: 1px;
		}
		.bottom {
			background-color: $light;
		}
	}
}

.unorganized-pin-toolbar {
	width: calc( 100% - 16px);
	display: flex;
	margin-left: 8px;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $light;
	padding: 8px 0;
		padding-top: 32px;
	.title {
		margin-left: 4px;
		font-size: 20px;
		font-weight: 600;
		font-family: $font-display;
	}
}


.unorganized-pins-wrap {
  font-size: 0;
  margin-left: 8px;
}
.uop-pin {
  font-size: 0;
  margin-bottom: 8px;
  overflow: hidden;
  width: 114px;
  border-radius: 16px;
  &._hidden {
  	display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}
.grid-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-content: center;
}
.pinner-wrapper {
	display: grid;
	max-width: 1280px;
	justify-content: center;
	align-content: center;
	padding: 32px;
	height: auto;
	grid-gap: 0;
    grid-template-columns:  repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
	font-size: 0;

	@include breakpoint(800px) {
		grid-gap: 24px;
    	grid-template-columns:  repeat(4, 200px);
    	grid-template-rows: repeat(3, 200px);
	}

	@include breakpoint(1200px) {
		grid-gap: 24px;
    grid-template-columns:  repeat(5, 200px);
    grid-template-rows: repeat(2, 200px);
	}
	.pinner {
		transition: background-color $duration $ease-out;
		padding: 24px;
		border-radius: 16px;
		padding-top: 24px;
		text-decoration: none;
		background-color: $white;
		a {
			text-decoration: none;
			color: $darkest;
				&:visited {
					text-decoration: none;
					color: $darkest;

				}
		}
	&:hover {
		background-color: $light;
	}
		.avatar {
			overflow: hidden;
			border-radius: 200px;
			width: 96px;
			margin: 0 auto;
			text-align: center;

			img {
				width: 100%;
				height: auto;
			}

		}
		.name {
			font-family: $font-display;
			font-size: 22px;
			text-align: center;
			width: 100%;
			color: $darkest;
			margin-top: 8px;

		}
		.username {
			font-size: 16px;
			text-align: center;
			margin-top: 2px;
			color: $dark;
		}
	}
}


.saved-pin-wrapper {
	width: 117px;
	height: 156px;
	border-radius: 16px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	background-color: $white;
	background-size: cover;
	background-position: center;
}

.saved-title {
	font-size: 20px;
	font-family: $font-display;
	margin-top: 16px;
	span {
		font-weight: 600;
	}
	margin-bottom: 24px;
}

#appreciation {
	position: absolute;
	z-index: 10;
	width: 80px;
	height: auto;
	bottom: 96px;
	left: -2px;
	display: none;
	._stream-is-on & {
		display: block;
	}
}

#creator-thanks {
	position: absolute;
	z-index: 10;
	font-size: 12px;
	pointer-events: none;
	font-weight: 600;
	opacity: 0;
	color: $white;
	padding: 8px;
	bottom: 160px;
	border-radius: 4px;
	left: 10px;
	display: none;
	background-color: rgba($black, .4);
	._stream-is-on & {
		display: block;
	}

}
$arrow-size: 4px;
#creator-arrow-down {
	position: absolute;
	z-index: 10;
	width: 0;
	bottom: -4px;
	left: 27px;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid rgba($black, .4);

}