
// masonry stuff

.masonry-layout {
	padding: 84px 0;
	margin-bottom: 200px;
	position: relative;
	-webkit-column-break-inside: avoid;
  column-break-inside: avoid;
	padding-left: $masonry-padding;
	padding-right: $masonry-padding;
	-webkit-column-gap: $masonry-padding;
	column-gap: $masonry-padding;
	column-count: 7;
	-webkit-column-count: 7;
	@include breakpoint(max-width 2000px) {
		column-count: 6;
		-webkit-column-count: 6;
	}
	@include breakpoint(max-width 1800px) {
		column-count: 5;
		-webkit-column-count: 5;
	}
	@include breakpoint(max-width 1280px) {
		column-count: 4;
		-webkit-column-count: 4;
	}
	@include breakpoint(max-width 1024px) {
		column-count: 3;
		-webkit-column-count: 3;
	}

	@include breakpoint(max-width 730px) {
		column-count: 2;
		-webkit-column-count: 2;
	}
}

.masonry-layout > * {
 display: inline-block;
  width: 100%;
}
.masonry-layout__panel__wrap{
overflow: hidden;
 -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
margin-bottom: $masonry-padding;
	border-radius: $masonry-border;

}
.masonry-layout__panel {
 -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
	position: relative;
	font-size: 0;

	img {
		width: 100%;
	}
	&:hover {
		cursor: pointer;
		.title-container {
			opacity: 1;
		}
		.save-dropdown {
			opacity: 1;
		}
		.meta-icon-wrap {
			opacity: 1;
		}
		.gif-badge {
			opacity: 0;
		}
	}
}

.meta-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title-container {
	padding: 16px;
	font-size: 14px;
	font-weight: 500;
	font-family: $font-text;
	letter-spacing: -0.3px;
	line-height: 1.4;
	bottom: 0;
	width: 100%;
	z-index: 1;
	opacity: 0;
	backdrop-filter: blur(30px) saturate(150%);
	border-radius: 0 0 $masonry-border $masonry-border;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba($black, .85);
}

.gif-badge {
	position: absolute;
	padding: 8px;
	top: 8px;
	left: 8px;
	font-size: 10px;
	border-radius: 100px;
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.3);
}

.promoted-badge {
	position: absolute;
	padding: 8px;
	top: 8px;
	right: 8px;
	font-size: 10px;
	border-radius: 100px;
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.3);
}

.save-dropdown {
	opacity: 0;
	.board-name {
		backdrop-filter: blur(20px) brightness(80%) contrast(80%);
		background-color: rgba(255, 255, 255, 0.7);
		font-size: 14px;
		color: rgba($black, .65);
		letter-spacing: -0.4px;
		position: absolute;
		font-family: $font-text;
		width: calc(100% - 98px);
		padding-top: 16px;
		padding-left: 16px;
		font-weight: 500;
		height: 45px;
		top: 8px;
		left: 8px;
		border-radius:  $masonry-border 4px 4px $masonry-border ;
	}
	.save-btn {
		color: $white;
		background-color: $primary;
		font-size: 13px;
		font-family: $font-display;
		font-weight: 700;
		display: inline-block;
		position: absolute;
		padding: 16px 24px;
		top: 8px;
		right: 8px;
		border-radius:  4px $masonry-border $masonry-border 4px ;
	}
}

.meta-icon-wrap {
	display: flex;
	align-content: flex-end;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	height: 32px;
	opacity: 0;
	margin-bottom: 8px;
}
.meta-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba($white, .85);
	backdrop-filter: blur(20px) brightness(120%) contrast(80%);
	opacity: .9;
	background-image: url('/assets/icons/pin-arrow.svg');
	background-position: center;
	background-repeat: no-repeat;

	&.send {
		background-image: url('/assets/icons/pin-send.svg');
	}

	&.overflow {
		background-image: url('/assets/icons/pin-overflow.svg');
	}
}


.ad-chin {
	.ad-background-img {
		height: 94px;
		background-position: center bottom;
		background-size: 100% auto;
		margin-top: -2px;
		transform: scaleY(-1);
		border-radius: $masonry-border $masonry-border 0 0;
	}

	.ad-meta-container {
		background-color: rgba(255, 255, 255, 0.3);
		color: rgba($black, .85);
		backdrop-filter: blur(20px) brightness(120%) contrast(80%);
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 16px;
		border-radius: 0 0 $masonry-border $masonry-border;
	}
	.ad-title-container {
		padding-right: 20px;
		font-size: 14px;
		font-weight: 500;
		font-family: $font-text;
		letter-spacing: -0.3px;
		line-height: 1.4;
	}
	.ad-attribution-container {
		padding-top: 8px;
		font-family: $font-text;
		letter-spacing: -0.3px;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 13px;
		img {
			width: 24px;
			height: 24px;
			margin-right: 8px;
		}
	}
}