
nav {
	width: 100%;
	position: absolute;
	padding: $masonry-padding;
	font-size: 18px;
	// background-color: green;
}


.logo-wrap {
	display: inline-block;
	vertical-align: middle;
}
nav .search-bar {
	display: inline-block;
	padding: 24px;
	width: calc(100vw - 580px);
	margin-left: $masonry-padding;
	background-color: $light;
	border-radius: 4px;
	vertical-align: middle;
}
nav ul.nav-list {
	display: inline-block;
	position: absolute;
	right: 0;
	vertical-align: middle;

	li {
		display: inline-block;
		margin-right: $masonry-padding;
		vertical-align: top;
		vertical-align: middle;

		&.img-icon {
			width: 48px;
			height: 48px;
			vertical-align: middle;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}